<ion-grid class="ion-padding">
  <ion-row>
    <ion-col style="margin-left: 20%">
      <!-- <img src="https://via.placeholder.com/40"> -->
      <img style="width: 50px" src="../../../assets/logo/logo.png" />
    </ion-col>
  </ion-row>
</ion-grid>
