@font-face {   
    font-family: 'robotoRegular';
    src: url('../../../assets/fonts/Roboto-Regular.ttf');
  }
  @font-face {   
    font-family: 'robotoBold'; 
    src: url('../../../assets/fonts/Roboto-Bold.ttf');
  }

  @font-face {   
    font-family: 'robotoMedium'; 
    src: url('../../../assets/fonts/Roboto-Medium.ttf');
  }