<ion-grid style="border-top: 1px solid #dee2e6; text-align: center">
  <ion-row style="margin-top: 20px; text-align: center">
    <ion-col
      style="
        text-align: center;
        font-family: robotoRegular !important;
        color: #747c79;
        margin-top: 2.4em;
        z-index: 99;
        margin-left: auto;
      "
      size="2"
    >
      Jobs powered by
    </ion-col>
    <ion-col style="text-align: left; margin-right: auto" size="3">
      <img
        style="width: 300px; height: auto"
        src="../../../assets/logo/briohrlogo.svg"
      />
    </ion-col>
  </ion-row>
  <ion-row
    style="
      font-family: robotoRegular !important;
      color: #747c79;
      margin-bottom: 2em;
      margin-top: -1.4em;
      text-align: center;
    "
  >
    <ion-col size="2" offset="5" style="text-align: center">
      Read our <span style="color: #12877c">Privacy Policy</span></ion-col
    >
  </ion-row>
</ion-grid>
