@media (min-width: 1300px) {
  .jobOpening {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 18%;
    position: relative;
    font-size: 30px;
    color: #2b2e31;
  }
  .middleText {
    font-family: robotoRegular !important;
    // font-size:7px;
    position: absolute;
    top: 40%;
    left: 20%;
    right: 20%;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 50px;
    border: rgba(46, 65, 85, 0.2) 1px solid;
  }
  .inputBox {
    width: 350%;
  }
}

// @media (min-width: 760px) and (max-width:999px)  {
// .middleText{
//     font-family:robotoRegular!important;
//     // font-size:7px;
//     position:absolute;
//     top:30%;
//     left:20%;
//     right:20%;
//     background-color:white;
//     padding-left:24px;
//     padding-right:24px;
//     padding-top:12px;
//     padding-bottom:12px;
//     border:rgba(46, 65, 85, 0.2) 1px solid;
// }
// }

@media (min-width: 1100px) and (max-width: 1299px) {
  .jobOpening {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 15%;
    position: relative;
    font-size: 30px;
    color: #2b2e31;
  }
  .middleText {
    font-family: robotoRegular !important;
    // font-size:7px;
    position: absolute;
    top: 30%;
    left: 20%;
    right: 20%;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: rgba(46, 65, 85, 0.2) 1px solid;
  }
  .inputBox {
    width: 390%;
  }
}

@media (min-width: 1050px) and (max-width: 1099px) {
  .jobOpening {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 15%;
    position: relative;
    font-size: 30px;
    color: #2b2e31;
  }
  .middleText {
    font-family: robotoRegular !important;
    // font-size:7px;
    position: absolute;
    top: 30%;
    left: 20%;
    right: 20%;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: rgba(46, 65, 85, 0.2) 1px solid;
  }
  .inputBox {
    width: 320%;
  }
}

@media (min-width: 1000px) and (max-width: 1049px) {
  .jobOpening {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 18%;
    position: relative;
    font-size: 30px;
    color: #2b2e31;
  }
  .middleText {
    font-family: robotoRegular !important;
    // font-size:7px;
    position: absolute;
    top: 30%;
    left: 20%;
    right: 20%;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: rgba(46, 65, 85, 0.2) 1px solid;
  }
  .inputBox {
    width: 320%;
  }
}

@media (min-width: 851px) and (max-width: 999px) {
  .jobOpening {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 30%;
    position: relative;
    font-size: 28px;
    color: #2b2e31;
  }
  .middleText {
    font-family: robotoRegular !important;
    // font-size:7px;
    position: absolute;
    top: 30%;
    left: 20%;
    right: 20%;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: rgba(46, 65, 85, 0.2) 1px solid;
  }
  .inputBox {
    width: 290%;
  }
}

@media (min-width: 760px) and (max-width: 850px) {
  .jobOpening {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 40%;
    position: relative;
    font-size: 25px;
    color: #2b2e31;
  }
  .middleText {
    font-family: robotoRegular !important;
    // font-size:7px;
    position: absolute;
    top: 30%;
    left: 20%;
    right: 20%;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: rgba(46, 65, 85, 0.2) 1px solid;
  }
  .inputBox {
    width: 250%;
  }
}

@media (min-width: 700px) and (max-width: 759px) {
  .jobOpening {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 50%;
    position: relative;
    font-size: 22px;
    color: #2b2e31;
  }
  .middleText {
    font-family: robotoRegular !important;
    // font-size:7px;
    position: absolute;
    top: 30%;
    left: 20%;
    right: 20%;
    background-color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: rgba(46, 65, 85, 0.2) 1px solid;
  }
  .inputBox {
    width: 230%;
  }
}

@media (min-width: 600px) and (max-width: 699px) {
  .jobOpening {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 60%;
    position: relative;
    font-size: 22px;
    color: #2b2e31;
  }
  .middleText {
    font-family: robotoRegular !important;
    // font-size:7px;
    position: absolute;
    top: 30%;
    left: 20%;
    right: 20%;
    background-color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: rgba(46, 65, 85, 0.2) 1px solid;
  }
  .inputBox {
    width: 210%;
  }
}

@media (min-width: 550px) and (max-width: 599px) {
  .jobOpening {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 80%;
    position: relative;
    font-size: 20px;
    color: #2b2e31;
  }
  .middleText {
    font-family: robotoRegular !important;
    // font-size:7px;
    position: absolute;
    top: 30%;
    left: 20%;
    right: 20%;
    background-color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: rgba(46, 65, 85, 0.2) 1px solid;
  }
  .inputBox {
    width: 170%;
  }
}

@media (min-width: 500px) and (max-width: 549px) {
  .jobOpening {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 100%;
    position: relative;
    font-size: 20px;
    color: #2b2e31;
  }
  .middleText {
    font-family: robotoRegular !important;
    // font-size:7px;
    position: absolute;
    top: 30%;
    left: 20%;
    right: 20%;
    background-color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: rgba(46, 65, 85, 0.2) 1px solid;
  }
  .inputBox {
    width: 150%;
  }
}

@media (min-width: 450px) and (max-width: 499px) {
  .jobOpening {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 100%;
    position: relative;
    font-size: 20px;
    color: #2b2e31;
  }
  .middleText {
    font-family: robotoRegular !important;
    // font-size:7px;
    position: absolute;
    top: 30%;
    left: 15%;
    right: 15%;
    background-color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: rgba(46, 65, 85, 0.2) 1px solid;
  }
  .inputBox {
    width: 140%;
  }
}

@media (min-width: 410px) and (max-width: 449px) {
  .jobOpening {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 135%;
    position: relative;
    font-size: 20px;
    color: #2b2e31;
  }
  .middleText {
    font-family: robotoRegular !important;
    // font-size:7px;
    position: absolute;
    top: 30%;
    left: 15%;
    right: 15%;
    background-color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: rgba(46, 65, 85, 0.2) 1px solid;
  }
  .inputBox {
    width: 120%;
  }
}

@media (min-width: 340px) and (max-width: 409px) {
  .jobOpening {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 220%;
    position: relative;
    font-size: 20px;
    color: #2b2e31;
  }
  .middleText {
    font-family: robotoRegular !important;
    // font-size:7px;
    position: absolute;
    top: 30%;
    left: 15%;
    right: 15%;
    background-color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: rgba(46, 65, 85, 0.2) 1px solid;
  }
}

@media (min-width: 291px) and (max-width: 339px) {
  .jobOpening {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 350%;
    position: relative;
    font-size: 18px;
    color: #2b2e31;
  }
  .middleText {
    font-family: robotoRegular !important;
    // font-size:7px;
    position: absolute;
    top: 30%;
    left: 15%;
    right: 15%;
    background-color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: rgba(46, 65, 85, 0.2) 1px solid;
  }
}

@media (min-width: 270px) and (max-width: 290px) {
  .jobOpening {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 440%;
    position: relative;
    font-size: 16px;
    color: #2b2e31;
  }
  .middleText {
    font-family: robotoRegular !important;
    // font-size:7px;
    position: absolute;
    top: 30%;
    left: 15%;
    right: 15%;
    background-color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: rgba(46, 65, 85, 0.2) 1px solid;
  }
}

@media (min-width: 250px) and (max-width: 269px) {
  .jobOpening {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 550%;
    position: relative;
    font-size: 16px;
    color: #2b2e31;
  }
  .middleText {
    font-family: robotoRegular !important;
    // font-size:7px;
    position: absolute;
    top: 30%;
    left: 15%;
    right: 15%;
    background-color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: rgba(46, 65, 85, 0.2) 1px solid;
  }
}

@media (min-width: 200px) and (max-width: 249px) {
  .jobOpening {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 1070%;
    position: relative;
    font-size: 16px;
    color: #2b2e31;
  }
  .middleText {
    font-family: robotoRegular !important;
    // font-size:7px;
    position: absolute;
    top: 30%;
    left: 15%;
    right: 15%;
    background-color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: rgba(46, 65, 85, 0.2) 1px solid;
  }
}

@media (min-width: 100px) and (max-width: 199px) {
  .jobOpening {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 1200%;
    position: relative;
    font-size: 15px;
    color: #2b2e31;
  }
  .middleText {
    font-family: robotoRegular !important;
    // font-size:7px;
    position: absolute;
    top: 30%;
    left: 15%;
    right: 15%;
    background-color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: rgba(46, 65, 85, 0.2) 1px solid;
  }
}

.modalTitle {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.5em;
  margin-left: 0.5em;
}
