<app-header [mode]="mode"></app-header>
<app-middlebg style="width: 100%; height: 40%; z-index: 0"></app-middlebg>
<!-- <img [src]="bannerImage" /> -->
<div class="middleText" style="border-radius: 3px">
  Comfort Works aims to breathe new life into all of the world’s living room; we
  do it by creating beautiful, handmade slipcovers that rejuvenate old and tired
  sofas. Every aspect of our operation is done in-house: from envelope design to
  web development to product manufacturing, nothing is outsourced.Comfort Works
  is where designers, geeks, writers, number crunchers, marketers, analysts,
  strategists, cat people, dog people, human people, manga lovers, movie lovers,
  gamers, introverts, extroverts and innovators who dream outside the box come
  together to help their fellow humans fall in love with their homes...over and
  over again.We design with the belief that we can live simple and beautiful by
  trying to revive the hidden potential of our old furniture and doing our part
  for the planet. Before we knew it, Comfort Works expanded into a huge range of
  products specializing in IKEA sofa covers, custom furniture slipcovers and
  other complementary accessories.
</div>

<ion-grid>
  <ion-row>
    <ion-col class="jobOpening"> Job Openings </ion-col>
  </ion-row>
</ion-grid>
<div style="position: relative; text-align: center">
  {{ allDataCount$ | async }} job(s)
</div>

<ion-grid style="position: relative; margin-top: 2em">
  <ion-row style="width: 60%; margin-left: 20%; margin-right: 20%">
    <form [formGroup]="searchForm">
      <ion-col size="12">
        <md-icon md-font-icon="fa fa-search"></md-icon>

        <input
          class="inputBox"
          formControlName="searchValue"
          type="text"
          placeholder="Search For Jobs Title"
          style="border: solid grey 1px; height: 30px"
        />
      </ion-col>
    </form>
  </ion-row>
  <ion-row
    style="margin-top: 1em; width: 60%; margin-left: 20%; margin-right: 20%"
  >
    <ion-col> FILTER BY </ion-col>
  </ion-row>
  <ion-row style="width: 60%; margin-left: 20%; margin-right: 20%">
    <ion-col size="4">
      <ion-select
        (ionChange)="departmentChange($event)"
        value="allDepartment"
        style="border: solid grey 1px"
      >
        <ion-select-option value="allDepartment"
          >All Departments</ion-select-option
        >
        <ion-select-option value="marketing">Marketing</ion-select-option>
        <ion-select-option value="others">Others</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col size="4">
      <ion-select
        value="all"
        placeholder="All Countries"
        style="border: solid grey 1px"
      >
        <ion-select-option value="all">All Countries</ion-select-option>
        <ion-select-option value="kl">Kuala Lumpur</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col size="4">
      <ion-select
        value="f"
        placeholder="Full Time"
        style="border: solid grey 1px"
      >
        <ion-select-option value="f">Full Time</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid style="margin-top: 2em">
  <ion-row style="margin-left: 20%; margin-right: 20%">
    <ion-col
      size="8"
      style="
        font-family: robotoMedium !important;
        font-weight: bold;
        color: #2b2e31;
      "
    >
      <span style="margin-top: 3em">
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >home_repair_service</mat-icon
        >
      </span>
      PERFORMANCE MARKETING
    </ion-col>
    <ion-col
      style="
        font-family: robotoRegular !important;
        color: #7a8a9b;
        text-align: right;
      "
      offset="2"
      size="2"
    >
      {{ marketingCount$ | async }} opening(s)
      <!-- <span
        *ngIf="marketingCount$ | async > 1"
        >s</span> -->
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid style="margin-left: 20%; margin-top: -20px">
  <div *ngFor="let item of marketingData$ | async">
    <ion-row style="margin-top: 1em; margin-bottom: 1em">
      <ion-col
        size="9"
        style="border: 1px solid rgba(46, 65, 85, 0.2); border-radius: 3px"
      >
        <app-list-items
          [item]="item"
          (openModal)="openTheModal()"
        ></app-list-items>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>

<ion-grid style="margin-top: 2em">
  <ion-row style="margin-left: 20%; margin-right: 20%">
    <ion-col
      size="8"
      style="
        font-family: robotoMedium !important;
        font-weight: bold;
        color: #2b2e31;
      "
    >
      <span style="margin-top: 3em">
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >home_repair_service</mat-icon
        >
      </span>
      CREATIVE & SOCIAL MEDIA MANAGEMENT
    </ion-col>
    <ion-col
      style="
        font-family: robotoRegular !important;
        color: #7a8a9b;
        text-align: right;
      "
      offset="2"
      size="2"
    >
      {{ otherCount$ | async }} opening(s)
      <!-- <span *ngIf="otherCount$ | async > 1"
        >s</span> -->
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid style="margin-left: 20%; margin-top: -20px; margin-bottom: 40px">
  <div *ngFor="let item of othersData$ | async">
    <ion-row style="margin-top: 1em; margin-bottom: 1em">
      <ion-col
        size="9"
        style="border: 1px solid rgba(46, 65, 85, 0.2); border-radius: 3px"
      >
        <app-list-items
          [item]="item"
          (openModal)="openTheModal()"
        ></app-list-items>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>

<div style="width: 100%">
  <app-footer></app-footer>
</div>

<ng-template #mymodal let-modal>
  <div style="background-color: #fff">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="modalTitle">Edit Data</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control-file" formControlName="title" />
      </div>
      <div class="form-group">
        <label>Location</label>
        <input class="form-control-file" formControlName="location" />
      </div>
      <div class="form-group">
        <label>Level</label>
        <input class="form-control-file" formControlName="level" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <ion-grid style="text-align: center">
      <ion-row>
        <ion-col size="3">
          <ion-button
            color="danger"
            fill="outline"
            size="small"
            (click)="modal.dismiss('Cross click')"
            style="--background: white; color: red; margin-top: 1em"
          >
            X Close
          </ion-button>
        </ion-col>
        <ion-col offset="6" size="3">
          <ion-button
            color="danger"
            fill="outline"
            size="small"
            (click)="editData()"
            style="--background: white; color: black; margin-top: 1em"
          >
            Save
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ng-template>
