.overlay {
  z-index: 0;
  height: 35%;
  width: 100%;
  position: absolute;
  overflow: auto;
  top: 76px;
  left: 0px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 43%,
    rgba(0, 0, 0, 0.8)
  ); /*can be anything, of course*/
}

@media (min-width: 1300px) {
  .companyGrid {
    z-index: 2;
    position: absolute;
    top: 25%;
    margin-left: 38%;
    margin-right: auto;
    text-align: center;
  }

  .companyTitle {
    color: white;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }

  .companySub {
    color: #fbe260;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
  }
}

// @media (min-width: 760px) and (max-width:999px)  {
// .middleText{
//     font-family:robotoRegular!important;
//     // font-size:7px;
//     position:absolute;
//     top:30%;
//     left:20%;
//     right:20%;
//     background-color:white;
//     padding-left:24px;
//     padding-right:24px;
//     padding-top:12px;
//     padding-bottom:12px;
//     border:rgba(46, 65, 85, 0.2) 1px solid;
// }
// }

@media (min-width: 1100px) and (max-width: 1299px) {
  .companyGrid {
    z-index: 2;
    position: absolute;
    top: 18%;
    margin-left: 38%;
    margin-right: auto;
  }

  .companyTitle {
    color: white;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }

  .companySub {
    color: #fbe260;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
  }
}

@media (min-width: 1050px) and (max-width: 1099px) {
  .companyGrid {
    z-index: 2;
    position: absolute;
    top: 18%;
    margin-left: 33%;
    margin-right: auto;
  }

  .companyTitle {
    color: white;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }

  .companySub {
    color: #fbe260;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
  }
}

@media (min-width: 1000px) and (max-width: 1049px) {
  .companyGrid {
    z-index: 2;
    position: absolute;
    top: 18%;
    margin-left: 33%;
    margin-right: auto;
  }

  .companyTitle {
    color: white;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }

  .companySub {
    color: #fbe260;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
  }
}

@media (min-width: 851px) and (max-width: 999px) {
  .companyGrid {
    z-index: 2;
    position: absolute;
    top: 18%;
    margin-left: 33%;
    margin-right: auto;
  }

  .companyTitle {
    color: white;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
  }
  .companySub {
    color: #fbe260;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
  }
}

@media (min-width: 760px) and (max-width: 850px) {
  .companyGrid {
    z-index: 2;
    position: absolute;
    top: 18%;
    margin-left: 33%;
    margin-right: auto;
  }

  .companyTitle {
    color: white;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
  }
  .companySub {
    color: #fbe260;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
  }
}

@media (min-width: 700px) and (max-width: 759px) {
  .companyGrid {
    z-index: 2;
    position: absolute;
    top: 18%;
    margin-left: 33%;
    margin-right: auto;
  }

  .companyTitle {
    color: white;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
  }
  .companySub {
    color: #fbe260;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
  }
}

@media (min-width: 600px) and (max-width: 699px) {
  .companyGrid {
    z-index: 2;
    position: absolute;
    top: 18%;
    margin-left: 32%;
    margin-right: auto;
  }

  .companyTitle {
    color: white;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
  }

  .companySub {
    color: #fbe260;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
  }
}

@media (min-width: 550px) and (max-width: 599px) {
  .companyGrid {
    z-index: 2;
    position: absolute;
    top: 18%;
    margin-left: 29%;
    margin-right: auto;
  }

  .companyTitle {
    color: white;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

  .companySub {
    color: #fbe260;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
  }
}

@media (min-width: 500px) and (max-width: 549px) {
  .companyGrid {
    z-index: 2;
    position: absolute;
    top: 18%;
    margin-left: 28%;
    margin-right: auto;
  }

  .companyTitle {
    color: white;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

  .companySub {
    color: #fbe260;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
  }
}

@media (min-width: 450px) and (max-width: 499px) {
  .companyGrid {
    z-index: 2;
    position: absolute;
    top: 18%;
    margin-left: 24%;
    margin-right: auto;
  }

  .companyTitle {
    color: white;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

  .companySub {
    color: #fbe260;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
  }
}

@media (min-width: 410px) and (max-width: 449px) {
  .companyGrid {
    z-index: 2;
    position: absolute;
    top: 18%;
    margin-left: 22%;
    margin-right: auto;
  }

  .companyTitle {
    color: white;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

  .companySub {
    color: #fbe260;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
  }
}

@media (min-width: 340px) and (max-width: 409px) {
  .companyGrid {
    z-index: 2;
    position: absolute;
    top: 18%;
    margin-left: 19%;
    margin-right: auto;
  }

  .companyTitle {
    color: white;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

  .companySub {
    color: #fbe260;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
  }
}

@media (min-width: 291px) and (max-width: 339px) {
  .companyGrid {
    z-index: 2;
    position: absolute;
    top: 18%;
    margin-left: 17%;
    margin-right: auto;
  }

  .companyTitle {
    color: white;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }
  .companySub {
    color: #fbe260;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
  }
}

@media (min-width: 270px) and (max-width: 290px) {
  .companyGrid {
    z-index: 2;
    position: absolute;
    top: 18%;
    margin-left: 15%;
    margin-right: auto;
  }

  .companyTitle {
    color: white;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }
  .companySub {
    color: #fbe260;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
  }
}

@media (min-width: 250px) and (max-width: 269px) {
  .companyGrid {
    z-index: 2;
    position: absolute;
    top: 18%;
    margin-left: 13%;
    margin-right: auto;
  }

  .companyTitle {
    color: white;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }

  .companySub {
    color: #fbe260;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
  }
}

@media (min-width: 200px) and (max-width: 249px) {
  .companyGrid {
    z-index: 2;
    position: absolute;
    top: 18%;
    margin-left: 15%;
    margin-right: auto;
  }

  .companyTitle {
    color: white;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }

  .companySub {
    color: #fbe260;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
  }
}

@media (min-width: 100px) and (max-width: 199px) {
  .companyGrid {
    z-index: 2;
    position: absolute;
    top: 18%;
    margin-left: 10%;
    margin-right: auto;
  }

  .companyTitle {
    color: white;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
  }
  .companySub {
    color: #fbe260;
    font-family: robotoBold !important;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
  }
}
