<!-- <img src="../../../assets/banner/banner.jpg" /> -->
<div
  style="
    background-image: url(../../../assets/banner/banner.jpg);
    width: 100%;
    height: 35%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    z-index: 3;
  "
></div>
<div class="overlay"></div>
<ion-grid class="companyGrid">
  <ion-row>
    <ion-col class="companyTitle" size="12"> Career at Comfort Works </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="companySub" size="12">
      Scroll To Job Openings
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >arrow_downward</mat-icon
      >
    </ion-col>
  </ion-row>
</ion-grid>
