<!-- <div class="mainDiv"> -->
<ion-grid class="mainDiv">
  <ion-row>
    <ion-col size="6">
      <ion-row>
        <ion-col class="itemTitle">
          {{ item.title }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="itemSub capitalise">
          {{ momentProcess(item.updatedAt) }} •
          <span *ngIf="item.level == 'Junior'"> Entry Level </span>
          <span *ngIf="item.level != 'Junior'">
            Mid Senior level/Associate/Executive
          </span>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col class="itemLocation">
      {{ item.location }}
    </ion-col>
    <ion-col class="itemAction">
      <ion-button
        (click)="editOpen(item)"
        *ngIf="item.level == 'Junior'"
        class="buttonRed"
      >
        Edit Job
      </ion-button>
      <ion-button
        (click)="editOpen(item)"
        *ngIf="item.level != 'Junior'"
        class="buttonYellow"
      >
        Edit Job
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<!-- <div class="itemTitle">
    {{ item.title }}
  </div>
  <div class="itemSub capitalise">
    {{ momentProcess(item.updatedAt) }} • {{ item.department }}
  </div>
</div> -->
