.mainDiv {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.itemTitle {
  font-weight: 500;
  color: #2b2e31;
  font-size: 1.2em;
}

.itemSub {
  font-size: 0.9em;
  color: #7a8a9b;
}

.itemLocation {
  //   border: red solid 1px;
  text-align: right;
  margin-top: 1.5em;
}

.itemAction {
  text-align: right;
  margin-top: 0.5em;
}

.capitalise {
  text-transform: capitalize;
}

.buttonRed {
  color: white;
  --background: #ef6360;
  text-transform: none;
  font-weight: light;
}

.buttonYellow {
  color: black;
  --background: #fbe260;
  text-transform: none;
  font-weight: light;
}
