// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$brioHRTest-primary: mat-palette($mat-indigo);
$brioHRTest-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$brioHRTest-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$brioHRTest-theme: mat-light-theme(
  $brioHRTest-primary,
  $brioHRTest-accent,
  $brioHRTest-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($brioHRTest-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "robotoRegular";
  src: local("Roboto-Regular"),
    url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "robotoBold";
  src: local("Roboto-Bold"),
    url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "robotoMedium";
  src: url("./assets/fonts/Roboto-Medium.ttf");
}

.my-custom-class .modal-wrapper {
  background: #fff;
  z-index: 1000;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
